fastapi==0.115.10
uvicorn==0.34.0
pandas==2.2.3
numpy==2.2.4
sqlalchemy==2.0.38
openpyxl==3.1.5
scikit-learn==1.6.1
statsmodels==0.14.4
streamlit==1.43.2
plotly==6.0.1
python-multipart==0.0.20
pydantic==2.10.6
pydantic-settings==2.8.1
pytest==8.3.5
